.wrapper {
  width: 1600px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 37px 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-left: 97px;
}
.header .header__nav-list li {
  margin-right: 38px;
}
.header .header__nav-list li:hover {
  color: #4F56F1;
}
.header .header__nav-list a {
  text-decoration: none;
}
.header .header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 720px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}
.header .header__btn .header__btn-in {
  width: 120px;
  height: 60px;
  background-color: #FFF;
  border: 1px solid #fff;
  color: #1B0A42;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.header .header__btn .header__btn-up {
  width: 120px;
  height: 60px;
  color: #fff;
  border: 1px solid #4F56F1;
  background: #4F56F1;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.main {
  width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  padding-top: 100px;
}
.main .main__content {
  padding-top: 40px;
}
.main .main__content h1 {
  display: block;
  font-family: "Ramaraja", serif;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0.02em;
  color: #1B0A42;
}
.main .main__content p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #9A9A9A;
}
.main .main__content .main__content-btn {
  width: 152px;
  height: 63px;
  color: #fff;
  border: 1px solid #4F56F1;
  background: #4F56F1;
  border-radius: 6px;
  font-size: 16px;
  line-height: 32px;
  margin-top: 50px;
  cursor: pointer;
}
.main .main__banner-img {
  padding-left: 115px;
}